body{
    font-family: sans-serif;
    text-align: center;
    
}
input{
    text-align: center;
    border-color: black;
    border-radius: 5px;
    border-style: ridge;
    margin-right: 5px;
    margin-bottom: 5px;
}